<!--  ************** Loading service  **************** -->
<div *ngIf="showLoader" style="width: 100%; height: 110%; background-color: rgba(167, 164, 164, 0.5);" class=" loading">
    <div class="progress loading">
        <div class="indeterminate" style="background-color: #EE600E"></div>
    </div>
</div>
<!--  ************** Loading service  **************** -->


<app-login *ngIf="!logOn"></app-login>

<div *ngIf="logOn">
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <app-nav-sidebar-top></app-nav-sidebar-top>
    </header>
    <!-- END HEADER -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <div class="row">
                <!-- START LEFT SIDEBAR NAV-->
                <aside id="left-sidebar-nav">
                    <app-nav-sidebar-left></app-nav-sidebar-left>
                </aside>
                <!-- END LEFT SIDEBAR NAV-->


                <!-- START CONTENT -->
                <section id="content" style="padding-left: 5%;">

                    <app-nav-container></app-nav-container>

                    <!-- ************* Contenido no disponible ************** -->
                    <div class="container center" *ngIf="contenLoader === false">
                        <img src="../../../assets/contentlocal/images/No_Internet_Conection.gif" alt="No_Conection_Internet" style="width: 25%; min-width: 100px;">                        <br>
                        <p>Este contenido no esta disponible </p>
                    </div>
                    <!-- ************* Contenido no disponible ************** -->
                </section>


                <!-- END CONTENT -->

            </div>
        </div>
        <!-- END WRAPPER -->


        <!-- START FOOTER -->
        <!-- <app-nav-footer></app-nav-footer> -->

    </div>
    <!-- END MAIN -->

</div>