<ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li class="user-details cyan darken-2">
        <div class="row">
            <div class="col col s4 m4 l4">
                <img src="../../assets/contentlocal/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
            </div>
            <div class="col col s8 m8 l8">
                <ul id="profile-dropdown" class="dropdown-content">
                    <li><a href="#"><i class="mdi-action-face-unlock"></i> Perfil</a>
                    </li>
                    <li><a href="#"><i class="mdi-action-settings"></i> Configuracion</a>
                    </li>
                    <li class="divider"></li>
                </ul>
                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">Luis Silva<i class="mdi-navigation-arrow-drop-down right"></i></a>
                <p class="user-roal">Administrador</p>
            </div>
        </div>
    </li>

    <li><a href="#"><i class="mdi-image-grid-on"></i> Inicio</a>
    </li>
    <li><a href="#"><i class="mdi-editor-format-color-fill"></i> Salir</a>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
</ul>
