﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>CONTROL</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Scripts/materialize/css/materialize.css" rel="stylesheet" />
    <link href="~/Scripts/materialize/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Scripts/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize/js/search.js"></script>
    <script src="~/Scripts/materialize/js/lunr.min.js"></script>
    <script src="~/Scripts/materialize/js/materialize.js"></script>
    <script src="~/Scripts/materialize/js/init.js"></script>
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />

    <script>
        var rutas = {
            Home: '@Url.Action("Index", "Home")',
            //mainUrl: 'http://luis-silva-temp2.azurewebsites.net/api/',
            mainUrl: 'http://luis-silva-temp2.silva-solutions.com/api/',
            //mainUrl: 'http://localhost:64525/api/'
    };

    function ToolTip(msg, tiempo) {
        var $toastContent = $('<span>' + msg + '</span>');
        Materialize.toast($toastContent, tiempo, 'rounded');
    }

    $(".number").keydown(function (evt) {
        var c = (evt.which) ? evt.which : event.keyCode
        /*Validacion de teclado numerico superior*/
        if (c >= 48 && c <= 57) {
            return true;
        }
            /*Validacion de teclado numerico derecha*/
        else if (c >= 96 && c <= 105) {
            return true;
        }
            /*Validacion de teclas cursoras*/
        else if (c >= 37 && c <= 40) {
            return true;
        }
            /*Validacion de teclas especiales: enter, retroceso y suprimir*/
        else if (c == 13 || c == 8 || c == 46) {
            return true;
        } else return false;
    });

    function showload() {
        $('.btn').attr('disabled', 'disabled');
        //$('.tooltipped').tooltip('remove');
        $('#status').css('position', 'fixed').css('top', '47%').css('left', '47%').css("z-index", "1500");
        $("#status").show();
    }
    function hideload() {
        $("#status").hide();
        $('.btn').removeAttr('disabled');
    }
    function ModalOpen(msg) {
        $("#titulo_modal").html("");
        $("#contenido_modal").html("");
        $("#titulo_modal").append("<h5>Message</h5>");
        $("#contenido_modal").append("<p>" + msg + "</p>");
        $('#modal1').openModal();
    }
    function ModalOpenQuestion(msg) {
        $("#titulo_modal2").html("");
        $("#contenido_modal2").html("");
        $("#titulo_modal2").append("<h5>Question</h5>");
        $("#contenido_modal2").append("<p>" + msg + "</p>");
        $('#modal2').openModal();
    }
    function ModalOpenQuestion2(msg) {
        $("#titulo_modal4").html("");
        $("#contenido_modal4").html("");
        $("#titulo_modal4").append("<h5>Question</h5>");
        $("#contenido_modal4").append("<p>" + msg + "</p>");
        $('#modal4').openModal();
    }
    function ModalOpenQuestion3(msg) {
        $("#titulo_modal5").html("");
        $("#contenido_modal5").html("");
        $("#titulo_modal5").append("<h5>Question</h5>");
        $("#contenido_modal5").append("<p>" + msg + "</p>");
        $('#modal5').openModal();
    }

    function ModalOpenSheet(msg) {
        $("#titulo_modal3").html("");
        $("#contenido_modal3").html("");
        $("#titulo_modal3").append("<h5>Question</h5>");
        $("#contenido_modal3").append("<p>" + msg + "</p>");
        $('#modal3').openModal();
    }

    $(document).ready(function () {
        $(".bold").click(function (e) {
            showload();

            e.stopPropagation();
            hideload();
        });


    });
</script>

    <style>
        .upper {
            text-transform: uppercase;
        }

        .validate {
            text-align: left;
        }

        #spanerror {
            color: #F44336;
            opacity: 1;
            font-size: 16px;
            font-weight: bold;
        }

        #spansuccess {
            color: #4CAF50;
            opacity: 1;
            display: none;
        }
    </style>
</head>
<body>
    <header>
        @*<div class="navbar-fixed">*@
        <nav class="top-nav red">
            <div class="container">
                <div class="nav-wrapper">
                    <a style="font-size: 25px" class="page-title" id="page-title"></a>
                </div>
            </div>
        </nav>
        @*</div>*@
        <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
        <ul id="nav-mobile" class="side-nav fixed" style="transform: transalateX(0%);">
            <li class="logo">
                <a id="logo-container" href="/" class="brand-logo">
                    <img src="http://www.masglobalconsulting.com/images/new/CabezoteB.jpg" style="height: 200%;" />
                </a>
            </li>
            <li class="bold active" id="menuHome" ><a href="/" class="waves-effect waves-teal active">Home</a></li>
        </ul>

    </header>

    <main>
            <div class="containerNO">
                <div class="row">
                    @*La imagen de carga*@
                    <div style="display: inline; text-align: center" id="status" class="preloader-wrapper big ">
                        <div class="spinner-layer spinner-yellow-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l12">
                        @RenderBody()
                    </div>
                </div>
            </div>

         
        </main>

     <footer class="page-footer black-text">
          <div class="container">
            <div class="row">
              <div class="col l12 s12" ><br /><br /><br /><br /><br />
            [NOTE]:
                <br />
                
                    <br />
                Furter information <b>Ing. Luis Silva</b>: <a href="http://silva-solutions.com/es" target="_blank">Clik to get more</a>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright 
            </div>
          </div>
        </footer>
    <div id="modal1" class="modal col s6 m6" style="width: 50%; display: none">
        <div class="modal-content">
            <div style="text-align: center" id="titulo_modal"></div>
            <div style="text-align: center" id="contenido_modal"></div>
        </div>
        <div class="modal-footer center" style="text-align: center">
            <button onclick="$('#modal1').closeModal();" class="yellow darken-1 center modal-action modal-close white-text btnAceptar   waves-effect waves-green btn-flat">Aceptar</button>
        </div>
    </div>

    <div id="modal2" class="modal col s6 m6" style="width: 50%; display: none">
        <div class="modal-content">
            <div style="text-align: center" id="titulo_modal2"></div>
            <div style="text-align: center" id="contenido_modal2"></div>
        </div>
        <div class="modal-footer center" style="text-align: center">
            <button id="btnSI" onclick="$('#modal2').closeModal();" class="btn yellow darken-1  white-text  center modal-action modal-close waves-effect waves-green btn-flat">Yes</button>
            <button style="margin-right: 36px;" onclick="$('#modal2').closeModal();" class="btn deep-orange darken-3 white-text center modal-action modal-close waves-effect waves-green btn-flat">
            I change my mind</buttonstyle="margin-right:>
               
        </div>
    </div>

    <div id="modal4" class="modal col s6 m6" style="width: 50%; display: none">
        <div class="modal-content">
            <div style="text-align: center" id="titulo_modal4"></div>
            <div style="text-align: center" id="contenido_modal4"></div>
        </div>
        <div class="modal-footer center" style="text-align: center">
            <button id="btnSI2" onclick="$('#modal4').closeModal();" class="btn yellow darken-1  white-text  center modal-action modal-close waves-effect waves-green btn-flat">Yes</button>
            <button style="margin-right: 36px;" onclick="$('#modal4').closeModal();" class="btn deep-orange darken-3 white-text center modal-action modal-close waves-effect waves-green btn-flat">I change my mind</button>
        </div>
    </div>

    <div id="modal5" class="modal col s6 m6" style="width: 50%; display: none">
        <div class="modal-content">
            <div style="text-align: center" id="titulo_modal5"></div>
            <div style="text-align: center" id="contenido_modal5"></div>
        </div>
        <div class="modal-footer center" style="text-align: center">
            <button id="btnSI3" onclick="$('#modal5').closeModal();" class="btn yellow darken-1  white-text  center modal-action modal-close waves-effect waves-green btn-flat">Yes</button>
            <button style="margin-right: 36px;" onclick="$('#modal5').closeModal();" class="btn deep-orange darken-3 white-text center modal-action modal-close waves-effect waves-green btn-flat">I change my mind</button>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal3" class="modal bottom-sheet">
        <div class="modal-content">
            <div style="text-align: center" id="titulo_modal3"></div>
            <div style="text-align: center" id="contenido_modal3"></div>
        </div>
    </div>


</body>


</html>




