<div id="breadcrumbs-wrapper" class=" grey lighten-3">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <!-- <h5 class="breadcrumbs-title">Calendar</h5> -->
          <ol class="breadcrumb">
            <li><a href="#">Inicio</a>
            </li>
            <li class="active">Administracion</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

 
 <div class="container">
    <!-- Carga Contenido principal -->
    <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3">
                <!-- <a routerLink="/companies" routerLinkActive="active">Companies</a> -->
                <a [routerLink]="['/companies']" routerLinkActive="active" >Companies</a>
                <!-- <a class="active" href="#test1">Parameters</a> -->
              </li>
              <li class="tab col s3">
                <!-- <a routerLink="/parameters" routerLinkActive="active">Parameters</a> -->
                <a [routerLink]="['/parameters']">parameters</a>
                <!-- <a  href="#test2">Companies</a> -->
            </li>
          </ul>
        </div>

        <!-- <div id="test1" class="col s12">
              <app-modulo-companies></app-modulo-companies>
        </div>
        <div id="test2" class="col s12">
              <app-modulo-parameters></app-modulo-parameters>
        </div> -->





         <!--******* router-outlet  Es el router dinamico,  y no cambia **********-->
         <router-outlet></router-outlet>
         <!--******* ***************************** **********-->
         
  </div>
</div>