﻿@{
    ViewBag.Title = "Control de giros";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<style>
    #jqxTabs {
        margin-left: 12px;
        margin-top: 5px;
    }
</style>

<div id='jqxTabs' style="display:none">
    <ul>
        <li>Employees</li>
        <li>Another Module</li>
    </ul>
    <div style="text-align:center">
        <div id="GridEmployess"></div>
        <div class="input-field col s12 l12">
            <button id="btnNew" class="green darken-1 accent-2 btn waves-effect waves-purple"
                    style="width:30%" name="action">
                New<i class="material-icons right">input</i>
            </button>
            <button id="btnDelete" onclick="$('#popupWindowExtra').openModal();" class="red darken-1 accent-2 btn waves-effect waves-purple"
                    style="width:30%" name="action">
                Delete<i class="material-icons right">input</i>
            </button>
            <button id="btnAnnualSalary" onclick="$('#popupWindowExtra').openModal();" class="blue darken-1 accent-2 btn waves-effect waves-purple"
                    style="width:30%" name="action">
                Get annual salary by ID<i class="material-icons right">input</i>
            </button>
        </div>
    </div>


    <!-- Modal Structure -->
    <div id="popupWindowExtra" class="modal bottom-sheet">
        <div class="modal-content">
            <h5>Delete / Annual Salary</h5>
            <div class=" input-field col s12 l6">
                <i class="material-icons prefix ">mode_edit</i>
                <input id="TxtId2" type="text" length="60" class="validate number" placeholder="" maxlength="120" required>
                <label data-error="Max 60 characters" data-success="Perfect!">(*) Id employee</label>
            </div>
            <div class="row">
                <div class="input-field col s12 l12" style="z-index:8000">
                    <div class="input-field col s6 l12" style="z-index:8000">
                        <button class="red  accent-2 btn waves-effect waves-light  " id="btnDeleteModal" style="width:20%" name="action"
                                data-position="bottom" data-delay="5"
                                >
                            Proceed to delete
                            <i class="material-icons right">playlist_add</i>
                        </button>

                        <button class="orange  accent-2 btn waves-effect waves-light  " id="btnAnnualSalaryModal" style="width:20%" name="action"
                                data-position="bottom" data-delay="5"
                                >
                            get the anual salary
                            <i class="material-icons right">playlist_add</i>
                        </button>
                        <button class="gray darken-4 accent-2 btn waves-effect waves-light  " style="width:20%" id="CancelItem" name="action">
                            Cancel
                            <i class="material-icons right">mode_edit</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="popupWindow">
        <div>New</div>
        <div style="overflow: hidden;">
            <div class=" input-field col s12 l6">
                <i class="material-icons prefix ">mode_edit</i>
                <input id="TxtId" type="text" length="60" class="validate" placeholder="" maxlength="120" required>
                <label data-error="Max 60 characters" data-success="Perfect!">(*) Id </label>
            </div>
            <div class=" input-field col s12 l6">
                <i class="material-icons prefix ">mode_edit</i>
                <input id="TxtFullName" type="text" length="60" class="validate" placeholder=""
                       maxlength="60" required>
                <label data-error="Max 60 characters" data-success="Perfect!">(*) Full Name </label>
            </div>
            <div class=" input-field col s12 l6">
                <i class="material-icons prefix ">mode_edit</i>
                <input id="TxtRate" type="text" length="60" class="validate" placeholder="2.500"
                       maxlength="60" required>
                <label data-error="Max 15 characters" data-success="Perfect!">(*) $ Rate </label>
            </div>

            <table>
                <tr>
                    <td align="right">Type Contract:</td>
                    <td align="left">
                        <select class="browser-default" id="TxtTypeContract">
                            <option value="Hourly">Hourly</option>
                            <option value="Monthly">Monthly</option>
                        </select>
                    </td>
                </tr>
            </table>

            <div class="row">
                <div class="input-field col s12 l12" style="z-index:7000">
                    <button class="light-blue accent-2 btn waves-effect waves-light  " id="btnAdd" style="width:50%" name="action"
                            data-position="bottom" data-delay="5"
                            >
                        Add
                        <i class="material-icons right">playlist_add</i>
                    </button>
                    <button class="orange darken-4 accent-2 btn waves-effect waves-light  " style="width:48%" id="CancelItem" name="action">
                        Cancel
                        <i class="material-icons right">mode_edit</i>
                    </button>

                    <hr />
                    <button class="red darken-4 accent-2 btn waves-effect waves-light center  " style="width:98%" id="txtTest" name="action">
                        Load a test
                        <i class="material-icons right">cash</i>
                    </button>


                </div>
            </div>

        </div>
    </div>

</div>



<link href="~/Scripts/jqx/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
<link href="~/Scripts/jqx/jqwidgets/styles/jqx.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jqx/jqwidgets/jqxcore.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxdata.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxbuttons.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxscrollbar.js"></script>
<script src="~/Scripts/jqx/jqwidgets/localization.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxdatatable.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxdata.export.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxcheckbox.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxcombobox.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxlistbox.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxdropdownlist.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxmenu.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxgrid.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxgrid.filter.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxgrid.sort.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxgrid.edit.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxgrid.selection.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxcalendar.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxdatetimeinput.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxgrid.pager.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxgrid.export.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxgrid.columnsresize.js"></script>
<script src="~/Scripts/jqx/jqwidgets/jqxgrid.columnsreorder.js"></script>
<script type="text/javascript" src="~/Scripts/jqx/jqwidgets/jqxtabs.js"></script>
<script type="text/javascript" src="~/Scripts/jqx/jqwidgets/jqxwindow.js"></script>


<script>
    $(document).ready(function () {
        $("#page-title").text("MAS GLOBAL: Luis Silva Test");
        var rowEmployeesIndexSelect = null;

        // widgets
        var initWidgets = function (tab) {
            switch (tab) {
                case 0:
                    SetGrid();
                    break;
                case 1:
                    $('#popupWindow').jqxWindow('close');
                    ModalOpen('Not avaliable at the moment');
                    break;
            }

        }
        $('#jqxTabs').jqxTabs({
            width: '95%', height: 400, theme: 'bootstrap',
            keyboardNavigation: true,
            selectionTracker: true,
            initTabContent: initWidgets,
            animationType: 'fade',
            selectedItem: localStorage.getItem('tabJqWSelectd') == null ? 0 : parseInt(localStorage.getItem('tabJqWSelectd'))
        });
        $("#jqxTabs").show();

        $('#jqxTabs').on('tabclick', function (event) {
            var tabclicked = event.args.item;
            //Let´s set the number tabclicked
            localStorage.setItem('tabJqWSelectd', tabclicked);
        });


        function SetGrid() {
            $.ajax({
                beforeSend: function () { showload(); },
                type: "GET",
                url: rutas.mainUrl + 'employee',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                async: true,
                success: function (result) {

                    if (result == null) {
                        ModalOpen('No records');
                        result.k = null;
                        hideload();
                    }

                    var source =
                    {
                        localdata: result,
                        datatype: "json",
                        updaterow: function (rowid, rowdata, commit) {
                            commit(true);
                        },
                        datafields:
                        [
                            { name: 'ID', type: 'int' },
                            { name: 'fullName', type: 'string' },
                            { name: 'rate', type: 'int' },
                            { name: 'typeContract2', type: 'string' },
                            { name: 'dateCreation', type: 'date' }
                        ]
                    };
                    var dataAdapter = new $.jqx.dataAdapter(source, {
                        downloadComplete: function (data, status, xhr) { },
                        loadComplete: function (data) { },
                        loadError: function (xhr, status, error) { }
                    });

                    $("#GridEmployess").jqxGrid(
                    {
                        theme: 'bootstrap',
                        height: 'auto',
                        width: '99%',
                        //selectionmode: 'singlerow',
                        source: dataAdapter,
                        showfilterrow: true,
                        filterable: true,
                        pageable: true,
                        autoheight: true,
                        sortable: true,
                        altrows: true,
                        enabletooltips: true,
                        editable: false,
                        pageSize: 10,
                        columnsresize: true,
                        pagesizeoptions: ['10', '15'],
                        columns: [
                            { text: 'ID', columntype: 'textbox', filtercondition: 'starts_with', datafield: 'ID', width: 200, editable: false },
                            { text: 'FullName', columntype: 'textbox', datafield: 'fullName', width: 250, editable: false },
                            { text: 'Rate', columntype: 'textbox', datafield: 'rate', width: 100, editable: false },
                            { text: 'Type Contract', columntype: 'textbox', datafield: 'typeContract2', width: 200, editable: false },
                            { text: 'Date Creation', columntype: 'textbox', datafield: 'dateCreation', width: 250, editable: false },
                        ]
                    });

                },
                error: function (result) {
                    ModalOpen('Server not available: ' + JSON.stringify(result));
                    hideload();
                },
                complete: function () { hideload(); }
            });
        }

        // initialize the popup window and buttons. 
        $("#popupWindow").jqxWindow({
            width: '350px', resizable: true, isModal: true, autoOpen: false, modalOpacity: 0.5
        });
        

        $("#btnNew").click(function () {
            $("#popupWindow").jqxWindow('open');
        });

        


        $('#CancelItem').click(function () {
            $('#popupWindow').jqxWindow('close');
        });

        $("#popupWindow").on('open', function () {
            $("#TxtId").val("");
            $("#TxtFullName").val("");
            $("#TxtRate").val("");
            $("#TxtTypeContract").val("");
            $("#TxtId").focus();
        });

        $("#txtTest").click(function () {
            $("#TxtId").val("16554");
            $("#TxtFullName").val("CARLOS BUITRAGO");
            $("#TxtRate").val("6500");
            $("#TxtTypeContract").val("Hourly");
            $("#TxtId").focus();

        });


        function GetDataEmployee() {
            var dto = {};
            dto = 
            {
                ID: $("#TxtId").val(),
                fullName: $("#TxtFullName").val(),
                rate: $("#TxtRate").val(),
                typeContract2: $("#TxtTypeContract").val(),
                dateCreation: null
            };
            return JSON.stringify(dto);
        }

        $('#btnDeleteModal').click(function () {
            $('#popupWindowExtra').jqxWindow('close');
            $.ajax({
                beforeSend: function () { showload(); },
                type: "DELETE",
                url: rutas.mainUrl + 'employee?ID=' +$("#TxtId2").val(),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: GetDataEmployee(),
                success: function (data) {
                    if (data == "Record removed!") {
                        SetGrid();
                      
                        ToolTip("*Record removed!", 3000);
                        

                    } else {
                        ModalOpen('<h6>Error</h6>');
                    }
                    $('.modal').closeModal();
                },
                error: function (result) {
                    ModalOpen('Server not avaliable ' + JSON.stringify(result));
                    hideload();
                },
                complete: function () { hideload(); }
            });
        });


        $('#btnAnnualSalaryModal').click(function () {
            $('#popupWindowExtra').jqxWindow('close');
            $.ajax({
                beforeSend: function () { showload(); },
                type: "GET",
                url: rutas.mainUrl + 'annualsalary?ID=' + $("#TxtId2").val(),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data == "Record not found") {
                        ModalOpen('<h6>Record not found</h6>');
                    } else {
                        ModalOpen('<p>The annual Salary for this employee is: <b> $' + data +'</b></p>');
                    }
                    $('.modal').closeModal();
                },
                error: function (result) {
                    ModalOpen('Server not avaliable ' + JSON.stringify(result));
                    hideload();
                },
                complete: function () { hideload(); }
            });
        });

        $('#btnAdd').click(function () {

            if ($("#TxtId").val().length == 0) {
                ToolTip("* <b>Validation</b>: Please provide an ID", 3000);
                $("#TxtId").focus();
            }
            else if ($("#TxtFullName").val().length == 0) {
                ToolTip("* <b>Validation</b>: Please provide a full name", 3000);
                $("#TxtFullName").focus();
            }
            else if ($("#TxtTypeContract").val().length == 0) {
                ToolTip("* <b>Validation</b>: Please a type of contract", 3000);
                $("#TxtTypeContract").focus();
            }
            else if ($("#TxtRate").val().length == 0) {
                ToolTip("* <b>Validation</b>: Please provide a rate", 3000);
                $("#TxtRate").focus();
            }
            else {
                $('#popupWindow').jqxWindow('close');
      

                    $.ajax({
                        beforeSend: function () { showload(); },
                        type: "POST",
                        url: rutas.mainUrl+'employee',
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        data: GetDataEmployee(),
                        success: function (data) {
                            if (data == "Record added!") {

                                $("#GridEmployess").jqxGrid('addRow', null, {
                                    ID: $("#TxtId").val(),
                                    fullName: $("#TxtFullName").val(),
                                    rate: $("#TxtRate").val(),
                                    typeContract: $("#TxtTypeContract").val(),
                                    dateCreation: null,
                                }, 'last');
                                                              

                                SetGrid();
                                ToolTip("*Record added", 3000);
                                
                            } else {
                                ModalOpen('<h6>Errror</h6>');
                            }
                        },
                        error: function (result) {
                            ModalOpen('Server not avaliable ' + JSON.stringify(result));
                            hideload();
                        },
                        complete: function () { hideload(); }
                    });
            }
        });

        $(".number").keydown(function (evt) {
            var c = (evt.which) ? evt.which : event.keyCode
            if (c >= 48 && c <= 57) return true;
            else if (c >= 96 && c <= 105) return true;
            else if (c >= 37 && c <= 40) return true;
            else if (c == 13 || c == 8 || c == 46) return true;
            else return false;
        });
    });

</script>
