<div class="row">
  <div class="col l4">
  </div>

  <div class="col l4">
    <br><br>
    <div class="col s14 s12 z-depth-4 card-panel center ">
        <div class="row">
          
          <div class="input-field col s12 center blue">
            <img class="logo" src="https://www.agilealliance.org/wp-content/uploads/2016/12/Logo-MAS-Global-Consulting.jpg" 
            class="circle responsive-img center"
              alt=" ERP Logo" style="width:70%"> 
          </div>

          <br>
          <h5 class="center">Login Admin</h5>
        </div>
        <div class="row ">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input placeholder="User" id="User" [(ngModel)]="Model.User" type="text" class="validate">
            <label for="User">User</label>
          </div>
        </div>
        <div class="row ">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input (submit)="loginP()" placeholder="Password" id="password" [(ngModel)]="Model.Pass" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12  login-text">
          </div>
        </div>

        
        <div class="row">
          <div class="input-field col s12">
            <a (click)="loginP()"  class="waves-effect red waves-light btn">Log in</a>
          </div>
        </div>
    </div>

  </div>

  <div class="col l4">
  </div>

</div>