    <!-- START FOOTER -->
    <footer class="page-footer"  style="background-color: #30a0e7 !important">
        <div class="footer-copyright">
            <div class="container">
                Copyright © 2017  <a class="grey-text text-lighten-4" href="#" target="_blank">ContarERP</a> All rights reserved.
                <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="#">Soporte Lógico</a></span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->